/* --------- /stylesheets/frontend/styles.css --------- */
/*
# -----------------------------------------------------------------------
# Project name: MarcoMonteiro
# -----------------------------------------------------------------------
# Copyright information:
# Copyright (C) 2012 Marco Monteiro All Rights Reserved.
# @license - Copyrighted Commercial Software
# This file may not be redistributed in whole or significant part.
# -----------------------------------------------------------------------
# Project information:
# version: 1.0.0  (08/01/2012)
# Tested in: Firefox; Chrome; Opera; Safari; IE8; IE9;
# (this CSS will not be optimized for IE7 or any other before that)
# -----------------------------------------------------------------------
# Author info:
# Name: Marco Monteiro
# Country: Portugal
# E-mail: marco@marcomonteiro.pt
# HomePage: http://marcomonteiro.net
# -----------------------------------------------------------------------


/* --------------------------------------------------------------

   reset.css
   * Resets default browser CSS.

-------------------------------------------------------------- */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, code,
del, dfn, em, img, q, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}


table {
	border-collapse: separate; border-spacing: 0;
}

caption, th, td {
	text-align: left; font-weight: normal;
}

table, td, th {
	vertical-align: middle;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: "";
}

blockquote, q {
	quotes: "" "";
}

a img {
	border: none;
	outline: none;
}

a{
	outline: none;
	text-decoration: underline;
	color: #fff;
}

p,li, a, input, span, span a{
	font-family: Myriad, Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

p a{
	color: #0099cc;
	text-decoration: none;
}

p a:hover{
	color: #0099cc;
	text-decoration: underline;
}

small{
font-size: 10px;
}

/* --------------------------------------------------------------

// !General.css
   * only html classes and structure classes

-------------------------------------------------------------- */

div.main{
	background: #fff;
	width: 100%;
}

div.inner-main{
	width: 960px;
	margin: 0 auto;
}

div.header{
	height: 200px;
}


/* --------------------------------------------------------------

// !Header.css
   * only Header classes

-------------------------------------------------------------- */

h1.logo{
	width: 425px;
	height: 70px;
	background: url('../images/logo.png') no-repeat left top;
	float: left;
	margin: 50px 0 0 0;
}

h1.logo span{
	display: none;
}

/* MAIN NAVIGATION */
ul.main-navigation{
	float: right;
	margin: 25px 0 0 0;
}

ul.main-navigation li{
	float: left;
	list-style-type: none;
}

ul.main-navigation li a{
	opacity:0.40;
	-moz-opacity: 0.40;
	filter: alpha(opacity=40);
}

ul.main-navigation li a.active,
ul.main-navigation li:hover{
	opacity:1;
	-moz-opacity: 1;
	filter: alpha(opacity=100);
}

ul.main-navigation li span{
	color: #333;
	font-size: 14px;
	font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
	padding-top: 65px;
	position: absolute;
}

ul.main-navigation li.code span{
	margin-left: 18px;
}

ul.main-navigation li.about,
ul.main-navigation li.experience,
ul.main-navigation li.code,
ul.main-navigation li.contact{
	margin: 20px;
	width: 67px;
	height: 58px;
}

ul.main-navigation li.about a,
ul.main-navigation li.experience a,
ul.main-navigation li.code a,
ul.main-navigation li.contact a{
	display: block;
	width: 67px;
	height: 58px;
	background: url('../images/main-sprite.png');
}

ul.main-navigation li.about a{ background-position: 0 0; }
ul.main-navigation li.about span{ margin: 0 5px;}
ul.main-navigation li.experience a{ background-position: -67px 0; }
ul.main-navigation li.code a{ background-position: -403px 0; }
ul.main-navigation li.contact a{ background-position: -134px 0; }
ul.main-navigation li.contact span{ margin: 0 20px;}

/* --------------------------------------------------------------

// !Subnavigation.css
   * only Header classes

-------------------------------------------------------------- */
div.sub-navigation{
	width: 960px;
	position: absolute;
	margin: 180px 55px 0 55px;
}

div.sub-navigation ul li{
	float: left;
	list-style-type: none;
	background: url('../images/main-sprite.png');
	width: 43px;
	height: 43px;
	margin: 0 8px;
}

/*Normal State*/
div.sub-navigation li.blog{ background-position: -292px -64px;}
div.sub-navigation li.dailypancake{ background-position: 0px -64px;}
div.sub-navigation li.forrst{ background-position: -351px -64px;}
div.sub-navigation li.bitbucket{ background-position: -759px -64px;}
div.sub-navigation li.behance{ background-position: -175px -64px;}
div.sub-navigation li.linkedin{ background-position: -585px -64px;}
div.sub-navigation li.zerply{ background-position: -701px -64px;}
div.sub-navigation li.tumblr{ background-position: -292px -64px;}
div.sub-navigation li.twitter{ background-position: -58px -64px;}
div.sub-navigation li.facebook{ background-position: -117px -64px;}
div.sub-navigation li.plus{ background-position: -410px -64px;}
div.sub-navigation li.foursquare{ background-position: -235px -64px;}
div.sub-navigation li.vimeo{ background-position: -525px -64px;}
div.sub-navigation li.skype{ background-position: -643px -64px;}
/*hover State*/
div.sub-navigation li.blog:hover{ background-position: -292px -107px;}
div.sub-navigation li.dailypancake:hover{ background-position: 0px -107px;107}
div.sub-navigation li.forrst:hover{ background-position: -351px -107px;}
div.sub-navigation li.bitbucket:hover{ background-position: -759px -107px;}
div.sub-navigation li.behance:hover{ background-position: -175px -107px;}
div.sub-navigation li.linkedin:hover{ background-position: -585px -107px;}
div.sub-navigation li.zerply:hover{ background-position: -701px -107px;}
div.sub-navigation li.tumblr:hover{ background-position: -292px -107px;}
div.sub-navigation li.twitter:hover{ background-position: -58px -107px;}
div.sub-navigation li.facebook:hover{ background-position: -117px -107px;}
div.sub-navigation li.plus:hover{ background-position: -410px -107px;}
div.sub-navigation li.foursquare:hover{ background-position: -235px -107px;}
div.sub-navigation li.vimeo:hover{ background-position: -525px -107px;}
div.sub-navigation li.skype:hover{ background-position: -643px -107px;}
/*label positions*/
div.sub-navigation li.blog span{ margin-left: 10px;}
div.sub-navigation li.dailypancake span{ margin-left: -17px; }
div.sub-navigation li.forrst span{ margin-left: 5px; }
div.sub-navigation li.bitbucket span{ margin-left: -4px; }
div.sub-navigation li.behance span{ margin-left: -3px; }
div.sub-navigation li.linkedin span{ margin-left: -5px; }
div.sub-navigation li.zerply span{ margin-left: 4px; }
div.sub-navigation li.tumblr span{ }
div.sub-navigation li.twitter span{ margin-left: 1px; }
div.sub-navigation li.facebook span{ margin-left: -6px; }
div.sub-navigation li.plus span{ margin-left: 0px; }
div.sub-navigation li.foursquare span{ margin-left: -7px; }
div.sub-navigation li.vimeo span{ margin-left: 4px; }
div.sub-navigation li.skype span{ margin-left: 4px; }

div.sub-navigation ul li span{
	color: #333;
	font-size: 13px;
	font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
	margin-top: 10px;
}

div.sub-navigation ul li span{
	display: none;
}

div.sub-navigation ul li:hover span{
	display: block;
}

div.sub-navigation ul li a{
	display: block;
	width: 43px;
	height: 40px;
}

/* --------------------------------------------------------------

// !Body.css
   * only Body classes

-------------------------------------------------------------- */

div.content{
	background: url('../images/body-bg.jpg') repeat 0 0;
}

div.body{
	background: url('../images/body-bg.jpg') repeat 0 0;
	height: 750px;
}

div.body div.pane{
	width: 960px;
	padding-top: 45px;
}

div.left-column{
	width: 550px;
	float: left;
}

div.right-column{
	float: right;
	width: 400px;
}

div.left-column h2,
div.contact-sep h2,
div.contact-right h2{
	color: #485868;
	font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
	font-size: 30px;
}

div.right-column h3,
div.history h3{
	color: #485868;
	font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
	font-size: 24px;
}

div.left-column p,
div.right-column p,
p#tweet a{
	color: #485868;
	font-size: 14px;
	margin: 20px 0;
	font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}

div.graph{
	width: 200px;
	float: left;
}

div.list-skils{
	margin: 0 0 0 35px;
	width: 315px;
	float: right;
}

ul.skils{
	margin: 25px 0 0 0;
	width: 150px;
	float: left;
}

ul.skils li{
	color: #485868;
	font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
	font-size: 16px;
	padding: 5px;
}

li.html{ list-style-image:url('../images/html-bullet.png');}
li.css{ list-style-image:url('../images/css-bullet.png');}
li.js{ list-style-image:url('../images/js-bullet.png');}
li.php{ list-style-image:url('../images/php-bullet.png');}
li.sql{ list-style-image:url('../images/sql-bullet.png');}
li.ruby{ list-style-image:url('../images/ruby-bullet.png');}
li.ror{ list-style-image:url('../images/ror-bullet.png');}
li.ci{ list-style-image:url('../images/php-bullet.png');}

div.right-column img.avatar{
	margin-left: 35px;
}

a.get_me_drunk{
	background: #4d5c6a url('../images/beer-icon.png') no-repeat 5px center;
	color: #fff;
	text-decoration: underline;
	font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
	font-size: 13px;
	border-top-left-radius: 5px;
	border-bottom-right-radius: 5%;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5%;
	border-bottom-right-radius: 5px;
	padding: 10px 15px 10px 40px;
}

h4.from_to{
	margin-top: 40px;
	font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
	font-weight: bold;
	font-size: 18px;
	color: #485868;
}

h4.from_to span{
	font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
	font-weight: normal;
}

span.dates{
	font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
	font-weight: normal;
}

p.bot{
	font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
	font-weight: normal;
	font-size: 12px;
	color: #485868;
	margin-top: 20px;
	float: left;
}

input.checkbox{
	position: absolute;
	margin: -13px 0 0 95px;
}

div.experience-company,
img.company-logo,
h4.from_to{
	float: left;
}

img.company-logo{
	margin: 20px 30px 0 0;
}

p.experience_description{
	margin: 50px 0 0 0 !important;
}

.bloo h4.from_to{
	margin-left: 25px;
}

.awake img.company-logo{
	max-width: 100px;
}

.awake{
	margin-top: 70px;
}

.awake .from_to{
	margin-top: 10px;
}

.wta{
	margin-top: 90px;
}

.wta h4.from_to{
	margin: 25px 0 0 -20px;
}

.education{
	margin: 120px 0px 0px 0px;
}

.education .experience-company{
	margin-top: -20px;
}

div.contact-sep{
	float: left;
	width: 52%;
}

div.contact-right{
	float: right;
	width: 30%;
}

p.contacts_email_phone span{
	font-weight: bold;
	font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}

p.form-description,
p.contacts_email_phone{
	font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
	font-weight: normal;
	font-size: 14px;
	color: #485868;
}

p.contacts_email_phone a{
	color: #485868;
	text-decoration: underline;
}

p.contacts_email_phone span{
	font-weight: bold;
}

form.send_message{
	margin-top: 30px;
}

div.half{
	float: left;
	width: 50%;
}

form label{
	font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
	font-weight: normal;
	font-size: 18px;
	color: #485868;
}

input{
	margin-top: 15px;
	background: #f5f4ed;
	border: none;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
	font-weight: normal;
	font-size: 14px;
	color: #485868;
	padding: 10px;
	width: 90%;
}

div.full{
	margin-top: 30px;
	float: left;
	width: 100%;
	margin-bottom: 30px;
}

div.bot{
	float: left;
	height: 20px;
	width: 100px;
	position: absolute;
}

textarea{
	margin-top: 15px;
	background: #f5f4ed;
	border: none;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
	font-weight: normal;
	font-size: 14px;
	color: #485868;
	padding: 10px;
	width: 95%;
	height: 150px;
}

input[type="submit"]{
	background:url('../images/send.png') no-repeat left center;
	float: right;
	width: 85px;
	height: 85px;
	color: #fff;
	text-decoration: underline;
	margin-right: 20px;
}

input[type="submit"]:hover{
	cursor: pointer;
}

div.contact input[type="submit"]{
	float: right;
	position: absolute;
	margin-left: 380px;
}

a.vcard{
	font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
	background: #485868 url('../images/v-card.png') no-repeat left center;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	padding: 10px 35px 10px 55px;
	margin-top: 35px;
	float: left;
	font-size: 14px;
}


/* --------------------------------------------------------------

// !Footer.css
   * only Footer classes

-------------------------------------------------------------- */

div.footer{
	background: #333;
	height: 40px;
}

div.download-cv{
	background: #333;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	position: absolute;
	margin-top: -40px;
	padding: 10px 10px 20px 10px;
}

div.download-cv a{
	color: #fff;
	font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
	font-size: 13px;
	text-decoration: underline;
}

p.copyright{
	padding-top: 15px;
	font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
	font-size: 12px;
	color: #fff;
}

p.copyright a{
	color: #fff;
	text-decoration: underline;
	font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}

div.history{
	margin-top: 30px;
	width: 420px;
	float: left;
}

div.history h3{
	margin-bottom: 40px;
}

div.first-one{
	margin-top: 40px;
}

div.code-block code-description,
div.code-block img{
	float: left;
}

div.code-block img{
	margin-right: 15px;
}

div.code-block h3 a{
	color: rgb(72, 88, 104);
	font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
	text-decoration: none;
	font-size: 24px;
}

div.code-block h3 a:hover{
	opacity:0.80;
	-moz-opacity: 0.80;
	filter: alpha(opacity=80);
}

div.code-block img{
	opacity:0.70;
	-moz-opacity: 0.70;
	filter: alpha(opacity=70);
}

div.code-block span.height{
	height: 100px;
	float: left;
}

div.last-feed h3,
div.last-feed p,
div.last-feed a,
div.last-feed small{
	font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
	color: rgb(72, 88, 104);
	text-align: right;
}

h3 a:hover{
	opacity:0.80;
	-moz-opacity: 0.80;
	filter: alpha(opacity=80);
}

h3.tweet{
	color: rgb(72, 88, 104);
	font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
	font-size: 24px;
}

div.last_tweet{
	width: 450px;
	float: left;
}

div.last-feed p{
	margin-top: 10px;
	font-size: 14px;
	padding-left: 50px;
}

div.last-feed a{
	font-size: 24px;
	color: rgb(72, 88, 104);
	text-decoration: none;
}

/*
	root element for the scrollable.
	when scrolling occurs this element stays still.
*/
.scrollable {

	/* required settings */
	position:relative;
	overflow:hidden;
	width: 270px;
	height:120px;

	/* custom decorations */
	background:url(../images/line.png) no-repeat left center;
	margin: -65px 0 0 65px;
}

/*
	root element for scrollable items. Must be absolutely positioned
	and it should have a extremely large width to accomodate scrollable items.
	it's enough that you set the width and height for the root element and
	not for this element.
*/
.scrollable .items {
	/* this cannot be too large */
	width:20000em;
	position:absolute;
	clear:both;
}

.items div {
	float:left;
	width:300px;
	margin-top: 33px;
}

/* single scrollable item */
.scrollable img {
	float:left;
	margin:20px 5px 20px 21px;
	background-color:#fff;
	padding:2px;
	width:100px;
	height:75px;

	-moz-border-radius:4px;
	-webkit-border-radius:4px;
}

/* active item */
.scrollable .active {
	border:2px solid #000;
	position:relative;
	cursor:default;
}

a.next{
	background: url('../images/next.jpg') no-repeat top left;
	width: 17px;
	height: 15px;
	display: block;
	float: right;
	margin: -65px 10px 0 25px;
}

a.prev{
	background: url('../images/prev.jpg') no-repeat top	left;
	width: 18px;
	height: 16px;
	display: block;
}

a.next:hover,
a.prev:hover{
	cursor: pointer;
}

img.baby,
img.old{
	float: left;
}

img.baby{
	margin: -30px 0 0 30px;
}

img.old{
	float: right;
	margin: -100px 30px 0 0;
}

span.label{
	margin-top: 2px;
	color:#485868;
	font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
	font-size: 15px;
	padding-bottom: 15px;
}

div.st span.label{
	background: url('../images/marker.png') no-repeat 0px 22px;
}

div.nd span.label{
	background: url('../images/marker.png') no-repeat 10px 22px;
}


div.rd span.label{
	background: url('../images/marker.png') no-repeat 20px 22px;
}

div.th span.label{
	background: url('../images/marker.png') no-repeat 40px 22px;
}

div.wta span.label{
	background: url('../images/marker.png') no-repeat 55px 22px;
}

div.awake span.label{
	background: url('../images/marker.png') no-repeat 65px 22px;
}

div.bloo span.label{
	background: url('../images/marker.png') no-repeat 85px 22px;
}

input[type="image"]{
	background: none;
	margin-top: 0;
}
